body {
    background-color: black;
    color: white;
}
h1 {
    text-align: center;
}
section {
    display: flex;

}
.perso {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: auto;
    border: 5px solid;
    border-radius: 5px;
    border-color: red;
}
.image {
    height: 300px;
}

.calques {
    position: absolute;
    background-color: gray;
    border-radius: 10px;
    height: 300px;
    width: 100%;
    opacity: 0%;
}

.calques h2{
    color: whitesmoke;
    text-align: center;
 }


.calques:hover {
    display: block;
    opacity: 60%;
}

.vote {
    padding: 1em;
    border-radius: 5px;
    margin: 5px;
    background-color: lightpink;
}